:root {
    --primary: #8B0A1A;
    --primaryDark: #5C0A0A;
    --primaryLight: #B30000;
    --secondary: #330000;
    --secondaryDark: #4C0033;
    --secondaryLight: #3F0000;
    --accent: #FFC080;
    --accentDark: #FF9900;
    --accentLight: #FFA07A;
    --text: #ffffff;
    --textLight: #cccccc;
    --background: #2f0606;
    --articleBackground: #440000;
    --crimsonDark: #2B0000;
}

body {
    background-color: var(--background);
    background: url('./img/art.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom left;
    font-family: 'DotGothic16', monospace;
    font-size: 1.2rem;
    color: var(--text);
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 1px #000000;
}

header {
    background-color: var(--primary);
    color: var(--text);
    padding: 3px;
    border-bottom: 1px solid var(--crimsonDark);
    text-align: center;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header h1 {
    margin: 0;
    font-size: 36px;
    font-weight: bold;
    color: var(--text);
    text-shadow: 2px 2px 2px #000000;
}


header nav ul li {
    margin-right: 20px;
}

header nav a {
    color: var(--text);
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
    color: var(--accent);
}

main {
    max-width: 95vw;
    margin: 0 auto;
    padding: 20px;
    background-color: #330000;
    border: 1px solid var(--secondaryDark);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

article {
    background-color: var(--articleBackground);
    border: 1px solid var(--secondaryDark);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
    font-size: 18px;
    font-weight: bold;
    color: var(--text);
    text-shadow: 1px 1px 1px #000000;
}

h2 a {
    color: var(--text);
    text-decoration: none;
}

h2 a:hover {
    text-decoration: underline;
    color: var(--accent);
}
